<div class="flex items-center justify-center min-h-screen bg-[#F2F6FA]">
  <div
    class="bg-white shadow-xl rounded-4xl p-10 w-full max-w-[450px] h-[600px] sm:w-11/12 border border-[#D4DEE8] flex flex-col justify-center"
  >
    <!-- Flecha de regreso -->
    <a
      href="/base/auth/login"
      class="absolute top-37 text-[#070C63] hover:text-[#050A4F] flex items-center gap-1"
      title="Volver a iniciar sesión"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19l-7-7 7-7"
        />
      </svg>
      Volver
    </a>

    <h2 class="text-2xl font-bold text-center mb-4 text-[#070C63]">
      Regístrate
    </h2>
    <div class="h-0.5 w-1/2 mx-auto mb-8 bg-[#070C63] rounded-full"></div>

    <form
      [formGroup]="usuarioForm"
      (ngSubmit)="onSubmit()"
      class="space-y-4 mt-2"
    >
      <!-- Correo -->
      <div class="relative">
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16 12A4 4 0 118 12a4 4 0 018 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 14v6m8 0a8 8 0 10-16 0h16z"
            />
          </svg>
        </span>
        <input
          formControlName="correo"
          type="email"
          placeholder="Correo electrónico"
          class="w-full border border-[#D4DEE8] rounded-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-[#070C63] placeholder:font-light placeholder:text-[#B0BAC6] text-[#344050]"
        />
        <div
          *ngIf="
            usuarioForm.get('correo')?.touched &&
            usuarioForm.get('correo')?.invalid
          "
          class="text-red-600 text-sm mt-1"
        >
          <div *ngIf="usuarioForm.get('correo')?.hasError('required')">
            El correo es obligatorio.
          </div>
          <div *ngIf="usuarioForm.get('correo')?.hasError('email')">
            Formato de correo inválido.
          </div>
        </div>
      </div>

      <!-- Nombre completo -->
      <div class="relative">
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.121 17.804A6 6 0 0112 15a6 6 0 016.879 2.804M12 12a4 4 0 100-8 4 4 0 000 8z"
            />
          </svg>
        </span>
        <input
          formControlName="nombreCompleto"
          type="text"
          placeholder="Nombre(s)"
          class="w-full border border-[#D4DEE8] rounded-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-[#070C63] placeholder:font-light placeholder:text-[#B0BAC6] text-[#344050]"
        />
      </div>
      <!-- Apellido Paterno -->
      <div class="relative">
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6]"
        >
          <!-- Icono de usuario (user) -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 12a5 5 0 100-10 5 5 0 000 10z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 21v-2a4 4 0 00-8 0v2"
            />
          </svg>
        </span>
        <input
          formControlName="apellidoPaterno"
          type="text"
          placeholder="Apellido paterno"
          class="w-full border border-[#D4DEE8] rounded-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-[#070C63] placeholder:font-light placeholder:text-[#B0BAC6] text-[#344050]"
        />
      </div>
      <!-- Apellido Materno -->
      <div class="relative">
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6]"
        >
          <!-- Icono de usuario (user) -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 12a5 5 0 100-10 5 5 0 000 10z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 21v-2a4 4 0 00-8 0v2"
            />
          </svg>
        </span>
        <input
          formControlName="apellidoMaterno"
          type="text"
          placeholder="Apellido materno"
          class="w-full border border-[#D4DEE8] rounded-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-[#070C63] placeholder:font-light placeholder:text-[#B0BAC6] text-[#344050]"
        />
      </div>

      <!-- Contraseña -->
      <div class="relative">
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6]"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 11c1.657 0 3 1.343 3 3v3H9v-3c0-1.657 1.343-3 3-3z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 11V7a5 5 0 00-10 0v4"
            />
          </svg>
        </span>
        <input
          formControlName="contrasenia"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          class="w-full border border-[#D4DEE8] rounded-md py-2 pl-10 pr-10 focus:outline-none focus:ring-2 focus:ring-[#070C63] placeholder:font-light placeholder:text-[#B0BAC6] text-[#344050]"
        />
        <button
          type="button"
          (click)="showPassword = !showPassword"
          class="absolute right-3 top-1/2 transform -translate-y-1/2 text-[#B0BAC6] focus:outline-none"
          tabindex="-1"
        >
          <ng-container *ngIf="!showPassword; else hideIcon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          </ng-container>
          <ng-template #hideIcon>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a9.977 9.977 0 012.442-4.033m3.08-2.178A9.953 9.953 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.97 9.97 0 01-1.045 2.516M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </ng-template>
        </button>
        <div
          *ngIf="
            usuarioForm.get('contrasenia')?.touched &&
            usuarioForm.get('contrasenia')?.invalid
          "
          class="text-red-600 text-sm mt-1"
        >
          <div *ngIf="usuarioForm.get('contrasenia')?.hasError('required')">
            La contraseña es obligatoria.
          </div>
          <div *ngIf="usuarioForm.get('contrasenia')?.hasError('minlength')">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <!-- Botón Registrar -->
      <button
        type="submit"
        [disabled]="usuarioForm.invalid"
        class="w-full bg-[#070C63] hover:bg-[#050A4F] text-white font-semibold py-3 rounded-3xl mt-4 transition-colors disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Registrarme
      </button>
    </form>
  </div>
</div>
