<div class="container mx-auto p-6">
  <h1
    class="text-center text-2xl font-bold text-gray-800 dark:text-gray-200 mb-8"
  >
    Consulta de Auditorías
  </h1>

  <div class="mb-6">
    <app-search-form (filterChange)="onFilterChange($event)"></app-search-form>
  </div>

  <div
    class="relative overflow-x-auto shadow-lg sm:rounded-lg border border-gray-200 dark:border-gray-700 max-h-[calc(5000vh-50px)]"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-600 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-800 dark:text-gray-300"
      >
        <tr>
          <th class="px-6 py-3 text-center">Nombre</th>
          <th class="px-6 py-3 text-center">Tipo</th>
          <th class="px-6 py-3 text-center">Fecha</th>
          <th class="px-6 py-3 text-center">Entidad</th>
          <th class="px-6 py-3 text-center">Estatus</th>
          <th class="px-6 py-3 text-center">Favorito</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let auditoria of auditorias"
          class="bg-white dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-800 text-center"
        >
          <td
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-100"
          >
            {{ auditoria.nombre }}
          </td>
          <td class="px-6 py-4 text-gray-700 dark:text-gray-300">
            {{ auditoria.tipo }}
          </td>
          <td class="px-6 py-4 text-gray-700 dark:text-gray-300">
            {{ auditoria.fecha | date : "dd/MM/yyyy" }}
          </td>
          <td class="px-6 py-4 text-gray-700 dark:text-gray-300">
            {{ auditoria.entidad }}
          </td>
          <td class="px-6 py-4">
            <span
              class="bg-blue-200 text-blue-900 px-4 py-2 rounded-full font-semibold text-center block"
            >
              {{ auditoria.estatus }}
            </span>
          </td>
          <td class="px-6 py-4 text-center">
            <span
              [ngClass]="
                auditoria.favorito ? 'text-yellow-500' : 'text-gray-400'
              "
              class="text-xl"
            >
              &#9733;
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end w-full sticky bottom-0 bg-white z-10 py-2 px-4">
    <nav class="flex items-center -space-x-px" aria-label="Pagination">
      <button
        type="button"
        class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
      >
        &lt;
      </button>

      <button
        *ngFor="let page of getPaginatedPages()"
        (click)="goToPage(page)"
        [class.bg-gray-200]="currentPage === page"
        class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-gray-200 text-gray-800 py-2 px-3 text-sm focus:outline-none focus:bg-gray-300"
      >
        {{ page }}
      </button>

      <button
        type="button"
        class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        &gt;
      </button>
    </nav>
  </div>
</div>