<div class="pt-20 px-60 flex items-center">
  <div class="w-1 h-5 bg-blue-600 mr-2"></div>
  <span class="font-semibold text-gray-900">Reporte del día</span>
</div>

<section
  class="pt-5 pb-12 px-30 max-w-7xl mx-auto grid gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 justify-center"
>
  <app-card
    class="col-span-2"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="vertical"
    size="lg"
  ></app-card>

  <app-card
    class="col-span-1"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="vertical"
    size="md"
  ></app-card>
  <app-card
    class="col-span-1"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="vertical"
    size="sm"
  ></app-card>
  <app-card
    class="col-span-1"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="vertical"
    size="sm"
  ></app-card>
  <app-card
    class="col-span-1"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="vertical"
    size="sm"
  ></app-card>
</section>
<div class="pt-10 px-60 flex items-center">
  <div class="w-1 h-5 bg-green-600 mr-2"></div>
  <span class="font-semibold text-gray-900">Reporte de la semana</span>
</div>
<section
  class="pt-5 pb-12 px-30 max-w-7xl mx-auto grid gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 justify-center"
>
  <app-card
    class="col-span-2"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="horizontal"
    size="md"
  ></app-card>

  <app-card
    class="col-span-2"
    imageUrl="https://imagenes.elpais.com/resizer/v2/JXJE6WIOLNDMVLNP2XVQJOBBEY?auth=cc1e47c6cbfda19b706e7f22034f93c02e9ed4f024476f5cab4318856eda997a&width=1200"
    title="Los Angeles wildfires: 'We are in a new normal"
    subtitle="The wildfires in Los Angeles have become a regular occurrence, with devastating impacts on the community and environment."
    layout="horizontal"
    size="md"
  ></app-card>
</section>
